{% extends "base.html" %}

{% block title %} Password Reset {% endblock %}

{% block content %}
<div class="container">
    <h1>Password Reset</h1>
    <form class="d-inline mb-3 form-label" method="POST" action=""> {% csrf_token %}
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Repeat Password</label>
            <input type="password" name="repeated_password" class="form-control">
        </div>
        <input type="submit" class="btn btn-primary" value="Reset">
    </form>
</div>

{% endblock %}
